.profile-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1rem;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  height: 100vh;
  overflow: clip;
}

.profile-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  flex-wrap: wrap;
}

.profile-text {
  text-align: center;
  flex: 1;
}

.profile-pic {
  border-radius: 50%;
  height: 150px;
  margin-right: 20px;
  object-fit: cover;
  width: 150px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.highlight {
  color: #ffca3a;
  font-weight: bold;
}
