.tech-stack {
    text-align: center;
    /* margin-top: 50px; */
    padding: 20px;
  }
  
  .tech-stack h3 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .techstack {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 24px; /* Reduced gap between logos */
  }
  
  .tech-item {
    text-align: center;
  }
  
  .tech-item svg {
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .tech-item svg:hover {
    transform: scale(1.2);
    color: #e34c26; /* Change color on hover */
  }
  
  .tech-item p {
    font-size: 1rem;
    color: #666;
    margin-top: 10px; /* Space between the logo and the text */
  }
  